<div
  appKeyManager
  class="button-group"
  role="radiogroup"
  [attr.aria-labelledby]="id"
>
  <label [attr.id]="id" class="label">{{ label }}</label>
  <button
    appKeyManagerItem
    role="radio"
    (focused)="activate(options.YES)"
    [attr.aria-checked]="value == options.YES"
    type="button"
    [attr.tabindex]="value == options.YES || value == null ? 0 : -1"
    class="button button-yes"
    [class.button-pressed]="value == options.YES"
    (click)="activate(options.YES)"
  >
    Yes
  </button>
  <button
    appKeyManagerItem
    role="radio"
    (focused)="activate(options.NO)"
    [attr.aria-checked]="value == options.NO"
    type="button"
    [attr.tabindex]="value == options.NO ? 0 : -1"
    class="button button-no"
    [class.button-pressed]="value == options.NO"
    (click)="activate(options.NO)"
  >
    No
  </button>
</div>
